@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a asp-action="AllPosts" asp-controller="Post">View All Posts</a>
        <a asp-action="NewPost" asp-controller="Post">Create Post</a>
    </div>

</div>
